# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/qintelle/public_html/joana_chatbot"
PassengerBaseURI "/joana_chatbot"
PassengerPython "/home/qintelle/virtualenv/public_html/joana_chatbot/3.12/bin/python"
PassengerAppLogFile "/home/qintelle/logs/joana_chatbot.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DEEPGRAM_API_KEY d8f7df1823cdac37c87e62c871d44624fec60c93
SetEnv FLASK_SECRET_KEY joana_fastfood_secret
SetEnv OPENROUTER_API_KEY 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
SetEnv SUPABASE_ANON_KEY eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpscWNob3J4bXZtbWhqbGR5c2F2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5MjI3MzEsImV4cCI6MjA4MDQ5ODczMX0.CL3ZF8wB6i6BhNkL9V2KSHlYAoSfWekzs1u4DKIdlfY
SetEnv SUPABASE_PROJECT_URL https://jlqchorxmvmmhjldysav.supabase.co
SetEnv SUPABASE_SERVICE_ROLE_KEY eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpscWNob3J4bXZtbWhqbGR5c2F2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDkyMjczMSwiZXhwIjoyMDgwNDk4NzMxfQ.MNaqPzTzlPxHRM6aFoffdJlFSqKU-qO8zgeW78VWGCs
SetEnv VERIFY_TOKEN joana-verify-token-123
SetEnv WHATSAPP_PHONE_NUMBER_ID 918738794651471
SetEnv WHATSAPP_TOKEN EAAPwvLPZBYUABQAYEKMjuOgTilZAaAZA0wsdgUmTelosQfh351TqNSsRq8zrQZBqdQCmp6ZCZAtceJf9SApBMSl8xQLCMvVs7ZAzT0VqPBr82VMtrgrcGqQBGoSeEAkDBAbKMi1sUtCOO0AgCM48Qenl3Wld5uqvNydLZCSkxKQxXDiQ0pmT2rZBhnHlb2LB69AZDZD
SetEnv CRON_SECRET fatima_2025_secret
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END